@use "../abstract/variables" as *;

.footer {
  margin-top: 20rem;
  padding-top: 15rem;
  padding-bottom: 2.5rem;
  background-color: $foot-bg;

  &__contact {
    margin-bottom: 5rem;
  }

  &__icon {
    display: block;
    position: relative;
    top: 3px;
  }

  &__info {
    display: grid;
    grid-template-columns: 2rem 1fr;
    gap: 1fr;

    &:not(:last-of-type) {
      margin-bottom: 1.5rem;
    }
  }

  &__fig {
    margin-bottom: 3rem;
  }

  &__list {
    margin-bottom: 4rem;

    &--first {
      margin-bottom: 2rem;
    }
  }

  &__item {
    &:not(:last-of-type) {
      margin-bottom: 1rem;
    }
  }

  &__link {
    font-weight: 700;
  }

  &__slist {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1rem;
  }

  &__sitem {
    &:nth-of-type(2) {
      margin: 0 1rem;
    }
  }

  &__slink {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    width: 2rem;
    height: 2rem;
    border: 2px solid $white;
    border-radius: 50%;
  }
}
