$intr-bg: hsl(217, 28%, 15%);
$main-bg: hsl(218, 28%, 13%);
$foot-bg: hsl(216, 53%, 9%);
$test-bg: hsl(219, 30%, 18%);
$eror-cl: hsl(0, 100%, 63%);
$cyan: hsl(176, 68%, 64%);
$blue: hsl(198, 60%, 50%);
$white: hsl(0, 0%, 100%);
$font-rg: "Open Sans", sans-serif;
$font-tl: "Raleway", sans-serif;
